* {
  padding: 0;
  margin: 0;
}

.halaman {
  padding: 130px;
  text-align: center;
  background-color: rgb(74, 159, 232);
  color: white;
  /* background-image: url("./assets/wall.jpg"); */
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(blue, rgb(0, 162, 255), aliceblue);
}
.proyek img {
  display: inline;
  width: 70%;
}
li a {
  color: inherit;
  margin: 50px;
}
nav {
  color: #ffffff;
  background-color: blue;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul li {
  display: inline;
}
main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tentang {
  background-color: aliceblue;
  padding: 30px;
}
.proyek {
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
}
.proyek1 {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(187, 186, 186);
  padding: 20px;
  border-radius: 10px;
}
.bla img {
  box-shadow: 5px 5px 5px rgb(187, 186, 186);
  margin-left: 50px;
}
.proyek img {
  width: 100%;
  border-radius: 10px;
}
.proyek-dalam {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.nama {
  margin-left: 20px;
}
.label {
  border: 1.5px solid aliceblue;
  border-radius: 5px;
  margin-left: 20px;
  padding: 4px;
  width: 90%;
}
.keter {
  margin-right: 20px;
}
.hubungi {
  background-color: aliceblue;
  padding: 20px;
}
.input {
  background-color: #04aa6d;
  border-radius: 5px;
  border: 1.5px solid rgb(255, 254, 254);
  color: white;
  padding: 10px 5px;
  margin: 20px;
  width: 90%;
}
.bla {
  display: flex;
  gap: 20px;
}

footer {
  background-image: linear-gradient(aliceblue, rgb(0, 162, 255), aliceblue);
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

@media (max-width: 650px) {
  section {
    padding: 15px;
  }
  h1 {
    font-size: 2em;
  }
  .halaman {
    padding: 100px;
  }
  .bla {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 290px;
    margin: auto;
  }
  .bla img {
    margin: auto;
  }
  .bla2 {
    text-align: center;
  }
  .proyek-dalam {
    flex-wrap: wrap;
    width: 70%;
    display: flex;
    margin: auto;
  }
  li a {
    margin: 5px;
  }
}
